@CHARSET "ISO-8859-1";

table
{
	width:100%;
	border-collapse:collapse;
	font-size:10pt;
	position:relative;
}

.content
{
	padding: 10px 10px 10px 10px;
}


td
{
	padding-left:10px;
}

.votes
{text-align:center; font-size:18pt}

.upvote
{text-align:center}


#upvoteScoreHeading
{
	width:10%;
}

#titleSubmitterHeading
{
	width:65%;
}


#ageHeading
{
	width:25%;
}

tr.lowerRow td
{
	border-bottom:1px solid black;
}

*
{
	font-family:Verdana
}
#orderHolder
{
	top:0;
	height:40px;
	font-size:16pt;
	font-family:Verdana;
}

.order
{
	font-size:16pt
	
}
/* #footer {
   position:absolute;
   bottom:0;
   width:100%;
   height:60px;
} */
